In [4]:
#import libraries
import pandas as pd
from sqlalchemy import create_engine
import pymysql

In [21]:
#create database engine
engine = create_engine('mysql+pymysql://username:password@localhost/world')

In [22]:
#connection string
conn = engine.connect()

#read a query into dataframe
df = pd.read_sql("SELECT * FROM vgsales", conn)

#print the dataframe
print(df.head())

                       Name Platform  Year_of_Release         Genre Publisher  \
0                Wii Sports      Wii             2006        Sports  Nintendo
1         Super Mario Bros.      NES             1985      Platform  Nintendo
2            Mario Kart Wii      Wii             2008        Racing  Nintendo
3         Wii Sports Resort      Wii             2009        Sports  Nintendo
4  Pokemon Red/Pokemon Blue       GB             1996  Role-Playing  Nintendo

   NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales Critic_Score  \
0     41.36     28.96      3.77         8.45         82.53           76
1     29.08      3.58      6.81         0.77         40.24
2     15.68     12.76      3.79         3.29         35.52           82
3     15.61     10.93      3.28         2.95         32.77           80
4     11.27      8.89     10.22         1.00         31.37

  Critic_Count User_Score User_Count Developer Rating
0           51          8        322  Nintendo      E
1
2           73        8.3        709  Nintendo      E
3           73          8        192  Nintendo      E
4

In [28]:
#create new column 
df.loc[(df["Year_of_Release"] >=2005), "Year_Pre_Post_2005"] = "Post_2005"
df.loc[(df["Year_of_Release"] < 2005), "Year_Pre_Post_2005"] = "Pre_2005"
print(df)
df_Avg = df.groupby(df["Year_Pre_Post_2005"])["Global_Sales"].mean()

                                Name Platform  Year_of_Release         Genre  \
0                         Wii Sports      Wii             2006        Sports
1                  Super Mario Bros.      NES             1985      Platform
2                     Mario Kart Wii      Wii             2008        Racing
3                  Wii Sports Resort      Wii             2009        Sports
4           Pokemon Red/Pokemon Blue       GB             1996  Role-Playing
...                              ...      ...              ...           ...
16445  Samurai Warriors: Sanada Maru      PS3             2016        Action
16446               LMA Manager 2007     X360             2006        Sports
16447        Haitaka no Psychedelica      PSV             2016     Adventure
16448               Spirits & Spells      GBA             2003      Platform
16449            Winning Post 8 2016      PSV             2016    Simulation

          Publisher  NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales  \
0          Nintendo     41.36     28.96      3.77         8.45         82.53
1          Nintendo     29.08      3.58      6.81         0.77         40.24
2          Nintendo     15.68     12.76      3.79         3.29         35.52
3          Nintendo     15.61     10.93      3.28         2.95         32.77
4          Nintendo     11.27      8.89     10.22         1.00         31.37
...             ...       ...       ...       ...          ...           ...
16445    Tecmo Koei      0.00      0.00      0.01         0.00          0.01
16446   Codemasters      0.00      0.01      0.00         0.00          0.01
16447  Idea Factory      0.00      0.00      0.01         0.00          0.01
16448       Wanadoo      0.01      0.00      0.00         0.00          0.01
16449    Tecmo Koei      0.00      0.00      0.01         0.00          0.01

      Critic_Score Critic_Count User_Score User_Count Developer Rating  \
0               76           51          8        322  Nintendo      E
1
2               82           73        8.3        709  Nintendo      E
3               80           73          8        192  Nintendo      E
4
...            ...          ...        ...        ...       ...    ...
16445
16446
16447
16448
16449

      YEAR_POST_2005 Year_Pre_Post_2005
0          POST_2005          Post_2005
1           PRE_2005           Pre_2005
2          POST_2005          Post_2005
3          POST_2005          Post_2005
4           PRE_2005           Pre_2005
...              ...                ...
16445      POST_2005          Post_2005
16446      POST_2005          Post_2005
16447      POST_2005          Post_2005
16448       PRE_2005           Pre_2005
16449      POST_2005          Post_2005

[16450 rows x 18 columns]

In [29]:
print(df_Avg)

Year_Pre_Post_2005
Post_2005    0.484040
Pre_2005     0.650039
Name: Global_Sales, dtype: float64